$bg-color: #1b3861;
$gold: #ecba1d;
$cheese: #efe115;
$bg-cheese: #b7af17;
$blue: #72aae7;
$pink: #dd82ae;
$green: #56b945;
$brown: #a67a2f;
$yellow: #e5e112;
$orange: #e7942e;
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: 'Slabo 27px', serif;
  @media (max-width: 350px) {
    font-size: 16px;
  }
}

body {
  background: #a2bec5;
}

.container {
  max-width: 350px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background: $bg-color;
  box-shadow: 0.25em 0.25em 0.5em #333333;
  @media (max-width: 350px) {
    max-width: 270px;
  }
}

.game-container {
  width: 92%;
  margin: 0.8em auto;
  border: 0.15em solid $gold;
  h1 {
    text-align: center;
    margin: 0.4em 0.2em 0 0;
    font-size: 2.5rem;
    font-weight: 900;
    color: $gold;
    font-family: 'Great Vibes', cursive;
    background: $bg-color;
  }
}

.questions-container {
  width: 100%;
  background: white;
  margin: 1em auto 0;
}

.category {
  height: 1em;
  color: white;
  padding: 0.2em 1.2em 1.3em;
  font-size: 1.5rem;
  font-weight: 900;
  &.yellow {
    background: $yellow;
  }
  &.blue {
    background: $blue;
  }
  &.green {
    background: $green;
  }
  &.brown {
    background: $brown;
  }
  &.orange {
    background: $orange;
  }
  &.pink {
    background: $pink;
  }
}

.question {
  background: #ddd;
  padding: 0.7em 2em;
}

.options > li {
  padding: 0.9em 2em;
  color: #777;
  &:hover {
    color: #111;
    cursor: pointer;
  }
}

.modal-container {
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background: $bg-color;
  top: 7.7em;
  left: 1.8em;
  position: absolute;
  @media (max-width: 350px) {
    width: 220px;
    left: 10%;
  }
}

.modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0.5em 0;
  width: 95%;
  height: 100%;
  background: $bg-color;
  color: $gold;
  font-family: 'Great Vibes', cursive;
  border: 0.15em solid $gold;
  h2 {
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5em 0;
    text-align: center;
  }
}

.correct, .incorrect {
  .message {
    font-size: 2.5rem;
  }
}

.play-again {
  font-size: 1.6rem;
  cursor: pointer;
}

.cheese-container {
  padding: 1em 0 2em;
}

.cheese {
  transform: rotate(1440deg);
  width: 5.5em;
  height: 5.5em;
  background: $bg-cheese;
  border-radius: 50%;
  position: relative;
  border: 0.25em solid $cheese;
  &:before {
    position: absolute;
    border-radius: 50%;
    content: "";
    background: linear-gradient(transparent 48.5%, $cheese 48.5%, $cheese 51.5%, transparent 51.5%), linear-gradient(60deg, transparent 48.5%, $cheese 48.5%, $cheese 51.5%, transparent 51.5%), linear-gradient(120deg, transparent 48.5%, $cheese 48.5%, $cheese 51.5%, transparent 51.5%);
    width: 5em;
    height: 5em;
    top: 0;
    left: 0;
  }
  &:after {
    position: absolute;
    border-radius: 50%;
    content: "";
    width: 0.75em;
    height: 0.75em;
    top: 2.125em;
    left: 2.125em;
    background: $cheese;
  }
}

.piece {
  position: absolute;
  width: 0;
  height: 0;
  top: 0.1em;
  left: 1.3em;
  border-radius: 45%;
  border-left: 1.2em solid transparent;
  border-right: 1.2em solid transparent;
  transform-origin: 1.2em 2.4em;
  &.blue {
    border-top: 2em solid $blue;
  }
  &.yellow {
    border-top: 2em solid $yellow;
    transform: rotate(60deg);
  }
  &.brown {
    border-top: 2em solid $brown;
    transform: rotate(120deg);
  }
  &.orange {
    border-top: 2em solid $orange;
    transform: rotate(180deg);
  }
  &.green {
    border-top: 2em solid $green;
    transform: rotate(240deg);
  }
  &.pink {
    border-top: 2em solid $pink;
    transform: rotate(300deg);
  }
}

.spin {
  animation: spin 3s;
}

@keyframes spin{
  0% {transform: rotate(0deg)}
  75% {transform: rotate(1440deg)}
  87.5% {transform: scale(1.2)}
  100% {transform: scale(1)}
}
